
@{
    ViewBag.Title = "Error 404";
    Layout = null;
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>404! Page not found!!</h1>
        Go to <a href="/Home/">Dashboard</a>
    </section>
</div>

